/* estilos de reset */

/* Globals */

html {
    font-family:'courier new', courier, monospace;
}

.grid-layout{
    display: grid;
    grid-template-rows: repeat(4, 4rem);
    grid-template-columns: repeat(8, 4rem);
    background-color: white;
}

.caja{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
